<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        <header>
            <title>Pikachu</title>
        </header>
        <main>
            <h1><%= pikachu.name%></h1>
            <p>
                The weight of <%= pikachu.name %> is <%= pikachu.weight %><br/>
                Its ID is <%= pikachu.id %>.

            </p>
            <img src="<%= pikachu.sprites.other.dream_world.front_default %>">
            <img src="<%= pikachu.sprites.back_shiny %>">
        </main>
    </body>
</html>